<template>
  <div class="address-form">
    ADDRESS-FORM
  </div>
</template>

<script>
export default {
  name: 'Address',
  props: {
    address: {type: Object}
  },
  data () {
    return {}
  }
}
</script>

<style scoped>
</style>
