<template>
  <div class="email-address-form">
    EMAIL-ADDRESS-FORM
  </div>
</template>

<script>
export default {
  name: 'EmailAddress',
  props: {
    emailAddress: {type: Object}
  },
  data () {
    return {}
  }
}
</script>

<style scoped>
</style>
