<template>
  <div class="details">
    <v-list two-line>
      <v-list-tile>
        <v-list-tile-action>
          <v-icon color="indigo">person</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ customer.item.FirstName }}</v-list-tile-title>
          <v-list-tile-sub-title>First name</v-list-tile-sub-title>
        </v-list-tile-content>
        <v-list-tile-action></v-list-tile-action>
      </v-list-tile>
      <v-list-tile>
        <v-list-tile-action></v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ customer.item.LastName }}</v-list-tile-title>
          <v-list-tile-sub-title>Last name</v-list-tile-sub-title>
        </v-list-tile-content>
        <v-list-tile-action></v-list-tile-action>
      </v-list-tile>
      <v-divider inset></v-divider>

      <v-list-tile v-for="(address, index) in customer.item.EmailAddresses" :key="'ea-' + index">
        <v-list-tile-action>
          <v-icon v-if="index === 0" color="indigo">email</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ address.EmailAddress }}</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action></v-list-tile-action>
      </v-list-tile>
      <v-divider inset></v-divider>

      <v-list-tile v-for="(address, index) in customer.item.Addresses" :key="'pa-' + index">
        <v-list-tile-action>
          <v-icon v-if="index === 0" color="indigo">home</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Address Placeholder</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action></v-list-tile-action>
      </v-list-tile>

    </v-list>
  </div>
</template>

<script>
export default {
  name: 'Details',
  props: {
    customer: {type: Object}
  },
  data () {
    return {}
  }
}
</script>

<style scoped>
</style>
