<template>
  <div class="form">
    <v-form v-model="valid">
      <v-text-field
          label="First name"
          v-model="data.firstName"
          required
      ></v-text-field>
      <v-text-field
          label="Last name"
          v-model="data.firstName"
          required
      ></v-text-field>

      <v-btn @click="submit">Submit</v-btn>
      <v-btn @click="cancel">Cancel</v-btn>
    </v-form>
  </div>
</template>

<script>
import {cloneDeep} from 'lodash'
export default {
  name: 'Form',
  props: {
    customer: {type: Object, default: null}
  },
  data () {
    return {
      data: null
    }
  },
  mounted () {
    // Let's work on a copy rather than modifying the prop
    this.data = cloneDeep(this.customer)
  },
  methods: {
    submit () {
      this.$emit('submit', this.data)
    },
    cancel () {
      this.$emit('cancel', this.data)
    }
  }
}
</script>

<style scoped>
</style>
