<template>
  <div class="orders">
    <v-data-table
        :headers="headers"
        :items="orders.items"
        hide-actions
        class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.OrderNumber }} </td>
        <td>{{ props.item.OrderDate | formatDate }} </td>
        <td>{{ props.item.Price }} $</td>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  name: 'Orders',
  props: {
    orders: {type: Array, default: () => []}
  },
  data () {
    return {
      headers: [
        {text: 'Order number', sortable: false},
        {text: 'Order date', sortable: false},
        {text: 'Price', sortable: false}
      ]
    }
  },
  filters: {
    formatDate: v => moment(v).format('YYYY/MM/DD')
  }
}
</script>

<style scoped>
  .orders {
    margin-left: 0
  }
</style>
