<template>
  <div class="add-customer">
    <v-toolbar>
      <v-toolbar-title>Add customer</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat :to="{name: 'Customers'}">Back</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-card>
      <v-container fluid>
        <Form/>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import Form from './partials/Form.vue'
export default {
  name: 'Add',
  components: {
    Form
  },
  data () {
    return {}
  },
  methods: {
    submit () {
      console.log('submit')
    },
    cancel () {
      this.$router.push({ name: 'Customers' })
    }
  }
}
</script>

<style scoped>
</style>
