<template>
  <div class="edit-customer">
    <v-toolbar>
      <v-toolbar-title>Edit customer</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat :to="{name: 'Customers'}">Back</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-card>
      <v-container fluid>
        <Form :customer="customer" v-on:submit="submit" v-on:cancel="cancel"/>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import {mapState} from 'vuex'
import Form from './partials/Form.vue'
export default {
  name: 'Edit',
  components: {
    Form
  },
  data () {
    return {
    }
  },
  watch: {
    '$route': 'fetchData'
  },
  computed: {
    ...mapState(['customer'])
  },
  created () {
    this.fetchData()
  },
  methods: {
    fetchData () {
      this.$store.dispatch('fetchCustomer', this.$route.params.id)
    },
    submit () {
      console.log('submit')
    },
    cancel () {
      this.$router.push({ name: 'Customers' })
    }
  }
}
</script>

<style scoped>
</style>
