<template>
  <div class="list-customers">
    <v-toolbar>
      <v-toolbar-title>List customers</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat :to="{name: 'AddCustomer'}">Add customer</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-card>
      <v-container fluid>
        <v-data-table
            :headers="headers"
            :items="customers.items"
            :loading="customers.loading"
            :pagination.sync="pagination"
            :total-items="customers.total"
            hide-actions
            class="elevation-1"
        >
          <template slot="items" slot-scope="props">
            <td>{{ props.item.FirstName }}</td>
            <td>{{ props.item.LastName }}</td>
            <td>
              <div v-for="(emailAddress, key) in props.item.EmailAddresses" :key="key">
                {{ emailAddress.EmailAddress }}
              </div>
            </td>
            <td>
              <div v-for="(address, key) in props.item.Addresses" :key="key">
                Address placeholder
              </div>
            </td>
            <td class="justify-center layout px-0">
              <v-btn icon class="mx-0" :to="{name: 'EditCustomer', params: {id: props.item.CustomerID}}">
                <v-icon color="teal">edit</v-icon>
              </v-btn>
              <v-btn icon class="mx-0" :to="{name: 'ShowCustomer', params: {id: props.item.CustomerID}}">
                <v-icon color="blue">pageview</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'List',
  data () {
    return {
      headers: [
        {text: 'First name', sortable: false, value: 'FirstName'},
        {text: 'Last name', sortable: false, value: 'LastName'},
        {text: 'E-Mail addresses', sortable: false, value: 'EmailAddresses'},
        {text: 'Addresses', sortable: false, value: 'Addresses'},
        {text: 'Actions', sortable: false}
      ],
      pagination: {}
    }
  },
  computed: {
    ...mapState(['customers', 'shared'])
  },
  watch: {
    pagination: {
      handler (pagination) {
        this.fetchData(pagination.page)
      },
      deep: true
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    fetchData (page = 1) {
      this.$store.dispatch('fetchCustomers', page)
    }
  }
}
</script>

<style scoped>
</style>
