<template>
  <div class="show-customer">
    <v-toolbar>
      <v-toolbar-title>Show customer's details</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat :to="{name: 'Customers'}">Back</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-card>
      <v-container fluid>
        <div v-if="customer.loading">
          <v-progress-circular indeterminate :size="50" color="primary"></v-progress-circular>
        </div>
        <div v-if="!customer.loading && customer.item">
          <v-tabs
              v-model="activeTab"
              value="details"
              color="cyan"
              dark
              slider-color="yellow"
          >
            <v-tab key="details" ripple>Details</v-tab>
            <v-tab key="orders" ripple>Orders</v-tab>
            <v-tab-item key="details">
              <Details :customer="customer"/>
            </v-tab-item>
            <v-tab-item key="orders">
              <Orders :orders="customer.item.orders"/>
            </v-tab-item>
          </v-tabs>

        </div>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Orders from './partials/Orders.vue'
import Details from './partials/Details.vue'
export default {
  name: 'Show',
  components: {
    Orders,
    Details
  },
  data () {
    return {
      activeTab: null
    }
  },
  watch: {
    '$route': 'fetchData'
  },
  computed: {
    ...mapState(['customer'])
  },
  created () {
    this.fetchData()
  },
  methods: {
    fetchData () {
      this.$store.dispatch('fetchCustomer', this.$route.params.id)
    }
  }
}
</script>

<style scoped>
</style>
