<template>
  <div class="dashboard">
      <v-toolbar>
        <v-toolbar-title>Dashboard</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
        </v-toolbar-items>
      </v-toolbar>
      <v-card>
        <v-container fluid>
          Here's some work to do.
        </v-container>
      </v-card>
  </div>
</template>

<script>
export default {
  name: 'Dashboard',
  data () {
    return {
    }
  }
}
</script>

<style scoped>
</style>
