<template>
  <v-app id="inspire">
    <div v-if="!initialized" class="loader">
      <v-content>
        <v-container fill-height>
          <v-layout row wrap align-center>
            <v-flex class="text-xs-center">
              <v-progress-circular indeterminate :size="50" color="primary"></v-progress-circular>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
    </div>
    <div v-if="initialized" class="app">
      <Navigation/>
      <v-content>
        <v-container fluid>
          <router-view></router-view>
        </v-container>
      </v-content>
      <v-footer app fixed>
        <span>&copy; 2018</span>
      </v-footer>
    </div>
  </v-app>
</template>

<script>
import Navigation from './components/partials/Navigation.vue'
import { mapState } from 'vuex'
export default {
  name: 'App',
  components: {
    Navigation
  },
  mounted () {
    this.$store.dispatch('init')
  },
  computed: {
    ...mapState(['initialized'])
  }
}
</script>

<style>
</style>
